APP_PORT=8080

POSTGRES_HOST=db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin
POSTGRES_RESTART=always
EXTERNAL_DB_PORT=6969

SPRING_LOGGING_LEVEL_ROOT=info
SPRING_LOG_DIRECTORY=./logs

CONTAINER_NAME=service
RESTART_POLICY=unless-stopped

HEALTH_CHECK_INTERVAL=30
HEALTH_CHECK_TIMEOUT=10
HEALTH_CHECK_RETRIES=3
HEALTH_CHECK_START_PERIOD=40

NETWORK_DRIVER=bridge

REDIS_HOST=redis
REDIS_PORT=6379

SPRING_PROFILES_ACTIVE=dev

COOKIES_LIFETIME=31536000
COOKIE_ACCESS_NAME=access
COOKIE_REFRESH_NAME=refresh

TELEGRAM_TOKEN=8467010614:AAEbMUycjFJ0NyisdtrFHl6nVX6qD0GxNdA
TELEGRAM_MAX_AUTH_AGE=3600

JWT_PRIVATE_KEY=MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgcFHIPm0WdCtUD1nijOjUJvArn+1c/RZI4zKW3UAoZf2hRANCAAQSj4yMklDjjD+EEKsFzreAOJajgpRdeDHnCg6ZbkASYlKILRI7JlpoS0/g9jJ4J+fzJH+xbWGt9X4wu/iLeso8
JWT_PUBLIC_KEY=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEEo+MjJJQ44w/hBCrBc63gDiWo4KUXXgx5woOmW5AEmJSiC0SOyZaaEtP4PYyeCfn8yR/sW1hrfV+MLv4i3rKPA==
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=864000

PROD_DOMAIN=api.giftis.ru

# В днях
REFRESH_TOKEN_AUTODELETE_RATE=1